

@-moz-document regexp('^.*$') {
  * {
    background-color: #202020 !important;
    background-image: none !important;
    color: #A0A0A0 !important; 
  }
  div {
    background-color: #202020 !important;
    background-image: none !important;
    color: #A0A0A0 !important;
  }
  #ad {
    display: none; !important
  }
  :link, :link>* {
    color: #F08020 !important;
  }
  :visited {
    color: #00E0FF !important;
  }
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="time"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  uneditable-input {
    background-color: #202020 !important;
    background-image: none !important;
    color: #EBDAE4 !important;
    box-shadow: 0 0 1px 3px rgba(160,160,160,0.8) inset !important;
  }
}

/* @-moz-document regexp('^.*github.*$') {
  .pagehead, .file-header,
  .commit-tease, .commit-tease-contributors {
    background-color: #202020 !important;
  }
  .signup-prompt {
    background: linear-gradient(#202020, #404040) !important;
    background-attachment: scroll !important;
    background-repeat: repeat !important;
  }
  h1, h2, h3, p, pre, a {
  }
  .reponav.item.selected {
    background-color: #404040;
  }
  td {
    font-family: Monaco !important;
    font-size: 12px !important;
  }
} */
