/i3/config
/fcitx/clipboard
/fcitx/clipboard/
/fcitx/data
/fcitx/dbus
/fcitx/pinyin
/fcitx/log
/fcitx/profile_*
/nvim/plugged
/nvim/.netrwhist
/nvim/autoload
*/.git/*
/emacs/auto-save-list
/emacs/elpa

